.button {
    
    -fx-background-color:  #a58daa;
    -fx-background-radius: 0;
    
    -fx-font-family: Axiforma;
    -fx-font-size: 17;
}
.button:hover {
    -fx-background-color: #26161e;
    -fx-text-fill: white;
}
.button Text {
    -fx-fill: black;
    
}